<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-sm p-4" style="width: 350px">
    <h2 class="text-center mb-4">Loginv2</h2>
    <form (ngSubmit)="autenticate()">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Digite seu e-mail"
          (keyup.enter)="autenticate()"
          [(ngModel)]="login.email"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Digite sua senha"
          (keyup.enter)="autenticate()"
          [(ngModel)]="login.password"
          required
        />
      </div>

      <button type="submit" class="mt-3 btn btn-primary w-100">Entrar</button>

      <div class="text-center mt-3">
        <small
          >Não possui uma conta?
          <a href="/cadastro" class="text-decoration-none">Cadastre-se</a></small
        >
      </div>
    </form>

    
  </div>
</div>
